@model CareJobApplicationv2.Models.InterviewCandidates

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>InterviewCandidates</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="JobId" class="control-label"></label>
                <input asp-for="JobId" class="form-control" />
                <span asp-validation-for="JobId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterviewScheduleId" class="control-label"></label>
                <select asp-for="InterviewScheduleId" class="form-control" asp-items="ViewBag.InterviewScheduleId"></select>
                <span asp-validation-for="InterviewScheduleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CandidateId" class="control-label"></label>
                <input asp-for="CandidateId" class="form-control" />
                <span asp-validation-for="CandidateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterViewDate" class="control-label"></label>
                <input asp-for="InterViewDate" class="form-control" />
                <span asp-validation-for="InterViewDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterviewTime" class="control-label"></label>
                <input asp-for="InterviewTime" class="form-control" />
                <span asp-validation-for="InterviewTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
