@model CareJobApplicationv2.Models.ApplicantApplyForJob

@{
    Layout = null;
    ViewData["Title"] = "AddFinalAnalysisComment";
}

<h1>AddFinalAnalysisComment</h1>

<h4>FinalAnalysisComment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddFinalAnalysisComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label for="JobId" class="control-label"></label>
                <input for="JobId" class="form-control" />
                <span validation-for="JobId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="UserId" class="control-label"></label>
                <input for="UserId" class="form-control" />
                <span validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="FinalAnalysisComment" class="control-label"></label>
                <input for="FinalAnalysisComment" class="form-control" />
                <span validation-for="FinalAnalysisComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
  