@model CareJobApplicationv2.Models.ApplicantEducations

@{
   // ViewData["Title"] = "Create";
    
    Layout = null;

}






<div class="row">
    <div class="col-lg-12">
        <form asp-action="AddApplicantEducation" method="post" onsubmit="return SubmitForm(this,'ApplicantEducation')">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mt-2 mb-2">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="EducationDegreeId" class="control-label"></label>
                
                        <select asp-for="EducationDegreeId" class="form-select" asp-items="ViewBag.EducationDegreeId">
                            <option value="">Choose a Degree</option>
                        </select>
                        <span asp-validation-for="EducationDegreeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="EducationMajorId" class="control-label"></label>
                        <select asp-for="EducationMajorId" class="form-select" asp-items="ViewBag.EducationMajorId" >
                            <option value="">Choose a Major</option>
                        </select>
                        <span asp-validation-for="EducationMajorId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-2 mb-2">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="CountryEducation" class="control-label"></label>
                        <!--input asp-for="CountryEducation" class="form-control" /-->
                        <select asp-for="CountryEducation" class="form-control" asp-items="ViewBag.EducationCountries">
                            <option value="">Select</option>
                        </select>
                        <!--select asp-for="CountryEducation" class="Form-select" asp-items="ViewBag.ListCountries">
                            <option value="">Choose Country</option>
                        </!--select-->
                        <span asp-validation-for="CountryEducation" class="text-danger"></span>
                
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="InstitutionEn" class="control-label"></label>
                        <input asp-for="InstitutionEn" class="form-control" />
                        <span asp-validation-for="InstitutionEn" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-2 mb-2">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="InstitutionAr" class="control-label"></label>
                        <input asp-for="InstitutionAr" class="form-control" />
                        <span asp-validation-for="InstitutionAr" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <input asp-for="Status" class="form-control" />
                        <select asp-for="CountryEducation" class="form-control" asp-items="ViewBag.EducationStatus">
                            <option value="">Select Status</option>
                        </select>
                        <span asp-validation-for=" Status" class="text-danger">
                            </span>
</div>
                </div>
            </div>
            <div class="row mt-2 mb-2">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="YearOfStarting" class="control-label"></label>
                        <input asp-for="YearOfStarting" class="form-control" />
                        <span asp-validation-for="YearOfStarting" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="YearOfFinished" class="control-label"></label>
                        <input asp-for="YearOfFinished" class="form-control" />
                        <span asp-validation-for="YearOfFinished" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <input type="submit" value="Add Education Details" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
